body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    padding: 5px;
    height:  100px;
    width: 99%;
    min-width: 1080px;
    background-color: rgb(102,8,116);
}

.header-left {
    display: flex;
    align-items: center;
}
.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}

.group-members {
    color: white;
    font-size: 55px;
}
/* Everything above are the header part like other sub pages */

.content-container {
    display: flex;
}

@media screen and (max-width: 1281px) {
    .left-catalogue {
        display: none;
    }
    .main-text {
        width: 100%; /* fill the entire width when left catalogue is hidden */
        padding-left: 2%; /* you may want to adjust this padding */
    }
}

.left-catalogue {
    width: 20%; /* adjust as necessary */
    border-right: 1px solid #ddd;  optional 
    /*position: fixed;*/
}
.left-catalogue ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
}
.left-catalogue ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(102,8,116);
}

.main-text {
    width: 80%; /* adjust as necessary */
    padding-left: 5%; /* adjust as necessary */   /* if set the left catalogue to have a fix positon */;
}
.main-text > div {
    margin-bottom: 30px; /* Adjust as necessary for blank space */
    /*border-bottom: 1px solid grey;  Adds a grey underline */
    padding-bottom: 10px; /* Adds some padding between the content and the underline */
}
.main-text h2 {
    font-size: 40px; /* For example */
}
/* Everything above are the main container part without personal info */


.person-info {
    display: flex;
    align-items: stretch; /* This will make the children of .person-info the same height */
    font-size: 16px;
    height: 320px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid grey; 
    padding-top: 15px;
}

.image-container {
    /*max-height:  300px*/;
    margin-right: 20px; /* Adjust as necessary */
}
.image-container img {
    max-height: 100%;
    width: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: start; /* This will distribute the space evenly */
    height: 100%;
}


.name-container, .interest-container, .mail-container {
    flex-grow: 1;
    display: flex; /* This will make .name-container and .interest-container share the available space */
    flex-direction: column;
    justify-content: space-between;
}

.name-container h3, .interest-container h3, .mail-container h3 {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    font-size: 25px;
}
.person-info ul li {
    font-size: 20px; /* For example */
}

.mail-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
