body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height:  120px;
    width: 99%;
    min-width: 768px;
    background-color: rgb(102,8,116);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}

.title-catalogue {
    display: flex; /* makes children align vertically */
    flex-direction: column; 
    align-items: flex-start; /* aligns children to the left */
    height: 100%;
    padding-top: 20px;
}

.catalogue {
    display: flex; /* makes children align horizontally */
    width: 100%;   /* occupy full width of its parent */
    justify-content: space-around; /* distribute the children with equal space around them */
    align-items: center; /* vertically aligns the children to the center */
    margin-top: 10px; /* space between 'Openings' and the catalogue */
}

.catalogue a {
    display: flex; /* Makes this span a flex container */
    justify-content: flex-start; /* Horizontally aligns content to the start, in this case, the left */
    align-items: flex-end; /* Vertically aligns content to the end, in this case, the bottom */
    height: 90%;
    line-height: 100%;
    text-align: left; 
    font-size: 30px;
    padding-left: 40px;
    color: white;
    text-decoration: none;
}

.title {
    color: white;
    font-size: 60px;
    padding-left: 40px;
}


.content-container {
    display: flex;
}

@media screen and (max-width: 1281px) {
    .left-catalogue {
        display: none;
    }
    .main-text {
        width: 100%; /* fill the entire width when left catalogue is hidden */
        padding-left: 2%; /* you may want to adjust this padding */
    }
}

.left-catalogue {
    width: 20%; /* adjust as necessary */
    border-right: 1px solid #ddd;  optional 
    /*position: fixed;*/
}
.left-catalogue ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
}
.left-catalogue ul li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: rgb(102,8,116);
}

.main-text {
    width: 80%; /* adjust as necessary */
    padding-left: 5%; /* adjust as necessary */   /* if set the left catalogue to have a fix positon */;
}
.main-text > div {
    margin-bottom: 30px; /* Adjust as necessary for blank space */
    /*border-bottom: 1px solid grey;  Adds a grey underline */
    padding-bottom: 10px; /* Adds some padding between the content and the underline */
}
.main-text h2 {
    font-size: 40px; /* For example */
}
/* Everything above are the main container part without personal info */

.person-info-pi {
    display: flex;
    align-items: stretch; /* This will make the children of .person-info the same height */
    font-size: 16px;
    height: 356px;
    width: 100%;
    min-width: 760px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey; 
    padding-top: 10px;
    font-family: 'Aries', sans-serif;
}

.person-info-pi .image-container img {
    max-height: 91%;
    width: auto;
}

.person-info {
    display: flex;
    align-items: stretch; /* This will make the children of .person-info the same height */
    font-size: 16px;
    height: 320px;
    width: 100%;
    min-width: 760px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey; 
    padding-top: 10px;
    font-family: 'Aries', sans-serif;
}

.image-container {
    /*max-height:  300px*/;
    margin-right: 20px; /* Adjust as necessary */
}
.image-container img {
    max-height: 100%;
    width: auto;
}

.text-container {
    display: inline;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
}

.text-container-stu {
    display: inline;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
}

.name-container, {
    flex-grow: 1;
    display: flex; /* This will make .name-container and .interest-container share the available space */
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 50%;
    padding: 0;
    margin: 0;
}

.name-container h3, {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    font-size: 25px;
}
.person-info ul li {
    font-size: 20px; /* For example */
}


/*###############################################*/

.text-container h4 {
    font-size: 32px;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.text-container p {
    font-size: 24px;
}

.text-container a {
    font-size: 24px;
    color: rgb(102,8,116);
}


.text-container-stu h4 {
    font-size: 28px;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.text-container-stu p {
    font-size: 20px;
}

.text-container-stu a {
    font-size: 20px;
    color: rgb(102,8,116);
}