body {
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height:  100px;
    background-color: rgb(102,8,116);
}

.header-left {
    display: flex;
    align-items: center;
}

.openings {
    color: white;
    font-size: 55px;
    padding-left: 40px;
}

.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}


.header-right {
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: flex-end; /* centers horizontally */
    padding-right: 40px;
}

.header-right a {
    color: white; 
    font-size: 35px;
    text-decoration: none;
}



.all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    height: 80vh;
}

.GS {
    font-size: 30px;
    padding: 1em 0;
    font-weight: bold;
    text-align: center;
}

.PD {
    font-size: 30px;
    padding: 1em 0;
    font-weight: bold;
    text-align: center;
}

ul li {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Aries', sans-serif;
}
