body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height:  100px;
    width: 100%;
    
    background-color: rgb(102,8,116);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}


.header-right {
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: flex-end; /* centers horizontally */
    padding-right: 40px;
}

.header-right a {
    color: white; 
    font-size: 35px;
    text-decoration: none;
}


.publications {
    color: white;
    font-size: 55px;
    padding-left: 40px;
}


.all-container {
    display: flex;
}


/* Add this to your existing CSS file */
@media screen and (max-width: 1280px) {
    .left-catalogue {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;  optional 
    }
    .all-container {
        flex-direction: column;
    }
    .left-catalogue ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 30px;
        list-style: none;
    }
    .left-catalogue ul li {
        flex: 1;
        text-align: center;
    }
    .left-catalogue ul li a {
        display: block;
        padding-top: 40px;
        padding-left: 0px;
        margin-left: 0px;
        text-decoration: none;
        color: rgb(102,8,116);
    }

    .main-text {
        width: 100%; /* adjust as necessary */
        padding-left: 1%; /* adjust as necessary */   /* if set the left catalogue to have a fix positon */
        padding-right: 1%;
    }
}

@media screen and (min-width: 1281px) {
    .all-container {
        flex-direction: row;
    }
    .left-catalogue {
        width: 20%;
        border-right: 1px solid #ddd;  optional 
        display: block;
        margin-right: 20px;
    }
    .left-catalogue ul {
        display: block;
        padding-left: 10%;
        font-size: 30px;
        list-style: none;
    }
    .left-catalogue ul li {
        width: auto;
        text-align: left;
    }
    .left-catalogue ul li a {
        display: block;
        padding-top: 40px;
        padding-left: 0px;
        margin-left: 0px;
        text-decoration: none;
        color: rgb(102,8,116);
    }
    .main-text {
        width: 80%; /* adjust as necessary */
        padding-left: 2%; /* adjust as necessary */   /* if set the left catalogue to have a fix positon */;
        padding-right: 2%;
    }
}


.main-text > div {
    margin-bottom: 30px; /* Adjust as necessary for blank space */
    border-bottom: 1px solid grey;  /*Adds a grey underline */
    padding-bottom: 10px; /* Adds some padding between the content and the underline */
}
.main-text h2 {
    font-size: 40px; /* For example */
    padding-bottom: 5px;
    padding-top: 5px;
}
.main-text ul li {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.paper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: 420px;
    width: 100%;
    font-family: 'Aries', sans-serif;
}

.toc, .references {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.toc img {
    max-height: 80%;
    max-width: 80%;
    padding: 5%; /* Remove default padding from list */
    margin: 5%; /* Remove default margin from list */
}

.references ul {
    padding: 5%; /* Remove default padding from list */
    margin: 5%; /* Remove default margin from list */
    display: flex; /* Make list a flex container too */
    align-items: left; /* This will center the list item vertically */
    justify-content: center; /* This will center the list item horizontally */
    flex-direction: column; 
    width: 100%;
    list-style-type: none; /* This will remove the bullet point */

}

.references ul li {
    text-align: left; /* Align text within list item to center */
}


.journal-name {
    color: blue;
    font-style: italic;
}

.year {
    font-weight: bold;
}

.doc-id {
    font-style: italic;
}

/*<sup>#&</sup>*/
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
}

.xh {
    font-weight: bold;
    text-decoration: underline;
}