body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    padding: 5px;
    height:  100px;
    width: 99%;
    min-width: 768px;
    background-color: rgb(102,8,116);
}

.header-left {
    display: flex;
    align-items: center;
}
.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}

.publications {
    color: white;
    font-size: 55px;
    padding-left: 40px;
}

.all-container {
    display: flex;
}


.left-catalogue {
    width: 100%; /* adjust as necessary */
    border-right: 1px solid #ddd;  optional 
}
.left-catalogue ul {
    list-style: none;
    font-size: 50px;
}
.left-catalogue ul li a {
    display: block;
    text-decoration: none;
    color: rgb(102,8,116);
    padding: 2vh;
    text-align: center;
}