body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height:  100px;
    background-color: rebeccapurple;
}

.header-left {
    display: flex;
    align-items: center;
}
.header-left img {
    max-height: 100%;  /* This will restrict the height of the image to the height of its parent, which is the header */
    width: auto;  /* This will keep the width proportional to the height */
    margin-right: 10px;  /* Adjust as needed */
}
.publications {
    color: white;
    font-size: 55px;
}

.header-right {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-right nav ul li {
    display: inline;
    margin: 0 10px;
    color: white; /* Sets the text color to white */
}



.content-container {
    display: flex;
}
.left-catalogue {
    width: 20%; /* adjust as necessary */
    border-right: 1px solid #ddd;  optional 
    /*position: fixed;*/
}
.left-catalogue ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
}
.left-catalogue ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rebeccapurple;
}

.main-text {
    width: 80%; /* adjust as necessary */
    padding-left: 5%; /* adjust as necessary */   /* if set the left catalogue to have a fix positon */;
}
.main-text > div {
    margin-bottom: 30px; /* Adjust as necessary for blank space */
    border-bottom: 1px solid grey;  /*Adds a grey underline */
    padding-bottom: 10px; /* Adds some padding between the content and the underline */
}
.main-text h2 {
    font-size: 40px; /* For example */
    padding-bottom: 5px;
    padding-top: 5px;
}

.main-text ul li {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}