body {
    font-family: 'Courier', monospace; /*Ubuntu Mono*/
    justify-content: center;
    align-items: center;
}

.all-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}
.all-container h {
    position: fixed;
    font-size: 80px;
    font-weight: bold;
    z-index: 2;
    width: 840px;
    height: 100px;
    left: 200px;
}


.combined-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 800px;
    width: 1000px;
}


.img-container {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    top: 250px;  /* Adjust this as needed */
    left: 10px;
}

.img-container img {
    width: 100%;
    height: auto;
    float: left;
}

.arc-container {
    position: fixed;
    width: 800px; /* Adjust to half the original width to only show right half circle */
    height: 830px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 0;
    left: -400px;
}

.arc {
    box-sizing: border-box;
    position: absolute;
    width: 800px;
    height: 800px;
    border: 20px solid rebeccapurple; /* Adjust border width and color to your liking */
    border-radius: 50%;
    border-top: 50px; /* Remove the left border to only show the right semi-circle */
    border-bottom: 50px;
    left: 0px; /* Shift the arc to the left by half of its width */
    top: 0px;
}

/*####################################################################*/

.content-container {
    margin-top: 0px;
    margin-left: 0px; /* Adjust to create space for the new arc */
    width: 400px; /* Adjust to half the original width to only show right half circle */
    height: 660px; 
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/*####################################################################*/
.members-line {
    position: relative;
    font-size: 40px;
    padding-bottom: 160px;
    width: 1000px;
}
.members-line p {
    position: absolute;
    display: inline-block;
    padding-left: 250px;                        /*different with width should be a constant 30px*/
    margin-left: 380px;                         /*sum with width should be a constant*/
}
.members-line p::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}
.members-line p::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background-color: rebeccapurple;
    width: 200px;                             /*sum with margin-left should be a constant*/
}
/*####################################################################*/

/*####################################################################*/
.research-line {
    position: relative;
    font-size: 40px;
    padding-bottom: 160px;
    width: 900px;
}
.research-line p {
    position: absolute;
    display: inline-block;
    padding-left: 160px;
    margin-left: 470px;                         /*sum with width should be a constant*/
}
.research-line p::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}
.research-line p::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background-color: rebeccapurple;
    width: 110px;                             /*sum with margin-left should be a constant*/
}
/*####################################################################*/


/*####################################################################*/
.publications-line {
    position: relative;
    font-size: 40px;
    padding-bottom: 160px;
    width: 900px;
}
.publications-line p {
    position: absolute;
    display: inline-block;
    padding-left: 130px;
    margin-left: 500px;                         /*sum with width should be a constant*/
}
.publications-line p::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}
.publications-line p::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background-color: rebeccapurple;
    width: 80px;                             /*sum with margin-left should be a constant*/
}
/*####################################################################*/


/*####################################################################*/
.news-line {
    position: relative;
    font-size: 40px;
    padding-bottom: 160px;
    width: 900px;
}
.news-line p {
    position: absolute;
    display: inline-block;
    padding-left: 160px;
    margin-left: 470px;                         /*sum with width should be a constant*/
}
.news-line p::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}
.news-line p::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background-color: rebeccapurple;
    width: 110px;                             /*sum with margin-left should be a constant*/
}
/*####################################################################*/


/*####################################################################*/
.openings-line {
    position: relative;
    font-size: 40px;
    padding-bottom: 160px;
    width: 900px;
}
.openings-line p {
    position: absolute;
    display: inline-block;
    padding-left: 250px;
    margin-left: 380px;                         /*sum with width should be a constant*/
}
.openings-line p::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
}
.openings-line p::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background-color: rebeccapurple;
    width: 200px;                             /*sum with margin-left should be a constant*/
}
/*####################################################################*/


a {
    text-decoration: none;
    color: rebeccapurple;
    display: block;
}